default: &default
  adapter: mysql2
  encoding: utf8mb4
  host: db
  username: root
  password: 123456
  pool: 5

development:
  <<: *default
  database: food_delivery
  redis:
    host: 127.0.0.1
    port: 6379
    db: 0
    options:
      namespace: food_delivery
      expires_in: 86400
      compress: false
